<!DOCTYPE html>
@model Tienda.Core.Entities.Producto;
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@*<h1>Administrar Producto</h1>*@

<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="CYS - HTML5">
    <meta name="author" content="okler.net">
    <title>Single Product Full Width | Porto - Responsive HTML5 Template 7.6.0</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/css/star-rating.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">



    <!-- Head Libs para tablas y linea del menu y alargar menu-->
    <!-- nuevo-->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>
    <link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
    @*<link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">*@
    <link rel="stylesheet" media="screen, print" href="~/css/datatables/datatables.bundle.css">



    <!-- nuevo-->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">


    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>




    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link href="~/css/fijo.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Swal -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="~/js/cdnjs/sweetalert-dev.js"></script>
    <link href="~/js/cdnjs/sweetalert.css" rel="stylesheet" />
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

    <!-- Swal -->


</head>

@*@if (ViewBag.Message != null)
{
    <script >
        swal({
            title: "Debes llenar el campo correo",

            type: "warning",
            //showCancelButton: true,
            confirmButtonColor: '#3085d6'
            //cancelButtonColor: '#d33',
            //confirmButtonText: 'Si, estoy seguro',
            //cancelButtonText: "Cancelar"
        });


    </script>
}*@

<body style="color:blue;Background:grey">

    <section class="body" style="color:blue;Background:grey">


        @*<div role="main" class="main shop py-4">*@
        <!-- start: page -->
        <div class="container">
            @*<div class="card-body" >*@
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-7">
                        <form id="form" action="~/AdminProducto/RegistrarProducto" class="form-horizontal" method="post">
                            <section class="card">
                                <header class="card-header">
                                    @*<div class="card-actions">
                                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                                        </div>*@

                                    <h2 class="card-title">Administrar Producto</h2>
                                    <p class="card-subtitle">
                                        Los campos son importantes para el control de productos
                                    </p>
                                </header>
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="text-color-primary text-1">Nombre del Producto<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="nombreproducto" id="nombreproducto" value="@ViewBag.nomProducto" class="form-control h-75" placeholder="eg.: Celular" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">

                                                <label class="text-color-primary text-1">Categoria<span class="required">*</span></label>
                                            </td>

                                            <td>
                                                <select name="categoria" id="categoria" class="form-control h-100" title="Seleccione una categoria" required>
                                                    <option value="0">Selecciona una categoria</option>
                                                    @if (ViewBag.categorias != null)
                                                    {@foreach (var item in ViewBag.categorias)
                                                        {

                                                            if (Convert.ToString(@ViewBag.IdCategoria) == Convert.ToString(@item.idCategoria))
                                                            {
                                                                <option value="@item.idCategoria" selected>@item.categoria</option>
                                                            }
                                                            else
                                                            {

                                                                <option value="@item.idCategoria">@item.categoria</option>
                                                            }
                                                        }
                                                }
                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Subcategoria<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <select name="subCategoria" id="subCategoria" class="form-control" title="Seleccione una subcategoria" required>
                                                    @if (@ViewBag.IdSubCategoria == null)
                                                    {
                                                        <option value="0">---Seleccione---</option>
                                                    }
                                                    else
                                                    {
                                                        {@foreach (var item in ViewBag.subCategorias)
                                                            {
                                                                if (Convert.ToString(@ViewBag.IdCategoria) == Convert.ToString(@item.idCategoria))
                                                                {
                                                                    if (Convert.ToString(@ViewBag.IdSubCategoria) == Convert.ToString(@item.idSubCategoria))
                                                                    {
                                                                        <option value="@item.idSubCategoria" selected>@item.subCategoria</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.idSubCategoria">@item.subCategoria</option>
                                                                    }

                                                                }
                                                            }
                                                    }
                                                }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Marca<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="marca" class="form-control" value="@ViewBag.marca" placeholder="eg.: Sony" required />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Modelo<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="modelo" class="form-control" value="@ViewBag.modelo" placeholder="eg.: negro" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">

                                                <label class="text-color-primary text-1">Descripción <span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <textarea name="descripcion" rows="5" class="form-control" placeholder="Describe..." required>@ViewBag.descripcion</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">

                                                <label class="text-color-primary text-1">Unidad<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="unidad" class="form-control" value="@ViewBag.unidad" placeholder="eg.: 100" required />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Proveedor<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <select name="proveedor" class="form-control" title="Seleccione un Proveedor" required>
                                                    @if (@ViewBag.idProveedor != null)
                                                    {
                                                        <option value="1" selected>A</option>
                                                    }
                                                    else
                                                    {

                                                        <option value="1">A</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Precio<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="precio" class="form-control" value="@ViewBag.precio" placeholder="eg.: 100" required />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Costo<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="costo" class="form-control" value="@ViewBag.costo" placeholder="eg.: 100" required />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Talla<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <select name="talla" class="form-control" title="Seleccione una talla" required>
                                                    <option value="0">Selecciona una talla</option>
                                                    @if (@ViewBag.idTalla != null)
                                                    {
                                                        <option value="1" selected>A</option>
                                                    }
                                                    else
                                                    {

                                                        <option value="1">A</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Tema<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <select name="tema" id="tema" class="form-control" title="Seleccione una talla" required>
                                                    <option value="0">Selecciona un tema</option>
                                                    @if (ViewBag.temas != null)
                                                    {@foreach (var item in ViewBag.temas)
                                                        {
                                                            if (Convert.ToString(@ViewBag.idTema) == Convert.ToString(@item.id))
                                                            {

                                                                <option value="@item.id" selected>@item.descripcion</option>
                                                            }
                                                            else
                                                            {

                                                                <option value="@item.id">@item.descripcion</option>
                                                            }


                                                        }
                                                }
                                                </select>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Oferta<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                @if (ViewBag.oferta != null)
                                                {
                                                    if (Convert.ToBoolean(@ViewBag.oferta) == true)
                                                    {
                                                        <label class="text-color-primary text-1">Si</label>
                                                        <input type="radio" id="oferta" name="oferta" value="1" checked />
                                                        <label class="text-color-primary text-1">No</label>
                                                        <input type="radio" id="oferta" name="oferta" value="0" />

                                                    }
                                                    else
                                                    {
                                                        <label class="text-color-primary text-1">Si</label>
                                                        <input type="radio" id="oferta" name="oferta" value="1" />
                                                        <label class="text-color-primary text-1">No</label>
                                                        <input type="radio" id="oferta" name="oferta" value="0" checked />
                                                    }
                                                }
                                                else
                                                {
                                                    <label class="text-color-primary text-1">Si</label>
                                                    <input type="radio" id="oferta" name="oferta" value="1" />
                                                    <label class="text-color-primary text-1">No</label>
                                                    <input type="radio" id="oferta" name="oferta" value="0" checked />
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label class="text-color-primary text-1">Clave del Producto<span class="required">*</span></label>
                                            </td>
                                            <td>
                                                <input type="text" name="claveproducto" class="form-control" value="@ViewBag.claveProducto" placeholder="eg.: EM1" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <footer class="card-footer">

                                                    <input type="hidden" name="idProducto" id="idProducto" value="@ViewBag.IdProducto" />
                                                    <input type="hidden" name="imagen" id="imagen" value="@ViewBag.imagen" />
                                                    <button class="btnRegistrar btn btn-primary">Registrar</button>
                                                    <button type="button" class="btnRegresar btn btn-default">Salir</button>

                                                </footer>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </section>
                        </form>
                    </div>

                    <div class="col-lg-5">
                        <section class="card">
                            <header class="card-header">


                                <h2 class="card-title">Agregar imagen al Producto</h2>
                                <p class="card-subtitle">
                                    Los campos son importantes agregar la imagen
                                </p>
                            </header>
                            <div class="card-body">

                                <form method="post" enctype="multipart/form-data" action="~/AdminProducto/IndexLoad">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="text-color-primary text-1">  <span>Escribe la Clave del Producto para el archivo que deseas subir</span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <input type="text" name="claveproductoI" class="form-control" placeholder="eg.: EM1" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="text-color-primary text-1"> <span>Selecciona el archivo del Producto:</span></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="file" name="postedFiles" multiple class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit" value="Subir Archivo" class="form-control btn-dark" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>

                            <div>
                                <div div class="card-body">
                                    @if (ViewBag.imagen != null)
                                    {

                                        <img alt="" width="200" height="200" @*class="img-fluid"*@ src="/img/products/Empresa/@ViewBag.empresa/@ViewBag.imagen">

                                    }

                                    else
                                    {
                                        <img alt="" width="300 " height="300" @*class="img-fluid"*@ src="/img/products/Empresa/@ViewBag.empresa/@ViewBag.imagenEmpresa ">
                                    }
                                </div>

                            </div>


                        </section>
                    </div>

                </div>


            </div>
        </div>


        @*</div>*@



    </section>

    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/common/common.min.js"></script>

    <script src="~/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/vide/jquery.vide.min.js"></script>
    <script src="~/vendor/vivus/vivus.min.js"></script>
    <script src="~/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
    @*<script src="~/js/vendors.bundle.js"></script>
        <script src="~/js/app.bundle.js"></script>*@
    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/js/views/view.shop.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>



    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>






    <script src="~/ScriptsPage/jsProductos.js"></script>
    <!-- nuevo -->
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <!-- nuevo -->
    @*<script src="~/ScriptsPage/jsPaginar.js"></script>*@

    <script src="~/js/vendors.bundle.js"></script>
    @*<script src="~/js/app.bundle.js"></script>*@
</body>
</html>

